.container {
	background: $white;
      margin: 2rem 1.5rem;
      @include breakpoint(medium) {
	     margin: 4rem 3rem;
      }
}

.homepage {
	@include grid-row();
	.home-slider-container {
		@include breakpoint(large) {
        	@include grid-column(8, 0);
      	}
	}
	.home-content {
		@include breakpoint(large) {
        	@include grid-column(4, 0);
      	}
      	// border-right: 2px solid $seafoam;
      	// border-bottom: 2px solid $seafoam;
      	text-align: right;
      	padding-right: 1.5rem;
      	h3, h4 {
      		font-size: 1.4rem;
      		text-transform: uppercase;
      	}
      	h3 {
      		color: $teal;
      		margin: 1.5rem 0;
      		@include breakpoint(large) {
      			margin: 4rem 0;
      		}
      	}
      	h4 {
      		color: $seafoam;
      		margin-bottom: 1.5rem;
      		@include breakpoint(large) {
      			margin-bottom: 4rem;
      		}
      	}
	}
}