#page {
  @include grid-row();
  header {
    background: $seafoam;
    padding: 0.85rem;
    h2, h4 {
      color: $white;
      margin-bottom: 0;
    }
    h2 {
      text-align: center;
      @include breakpoint(medium) {
        text-align: right;
      }
      font-size: 1.75rem;
    }
    h4 {
      text-align: center;
      @include breakpoint(medium) {
        text-align: left;
      }
      font-size: 1.15rem;
      a {
        color: $white !important;
      }
    }
  }
  h5 {
    color: $seafoam;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .page-content {
    @include grid-row();
    .page-featured {
      @include breakpoint(large) {
        @include grid-column(5);
      }
      background-size: cover;
    }
    .entry-content {
      padding: 1rem;
      @include breakpoint(large) {
        @include grid-column(7);
      }
    }
  }
}

.contact-content {
  padding-top: 1rem;
  @include breakpoint(medium) {
    padding-top: 2rem;
  }
  [type='text'], [type='email'], [type='tel'], textarea {
    border: 2px solid $seafoam;
    color: $teal;
  }
  ::-webkit-input-placeholder {
    color: $teal;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $teal;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $teal;
  }

  :-ms-input-placeholder {  
    color: $teal; 
  }
}

.testimonials-container, .floorplans-container {
  @include grid-row();
  .floorplan-slider {
      @include breakpoint(large) {
        @include grid-column(3);
      }
  }
}
/* Arrows */
#page {
  .slick-slider {
    margin-top: 1rem;
    @include breakpoint(medium) {
      margin-top: 2rem
    }
  }
  .slick-slide {
    padding: 1rem;
    @include breakpoint(medium) {
      border: 1px solid $teal;
      padding: 2rem;
    }
    h3 {
      color: $seafoam;
    }
  }
  .slick-prev,
  .slick-next {
      position: absolute;
      color: $seafoam;
      display: block;
      height: 1.25rem;
      width: 1.25rem;
      line-height: 0;
      font-size: 1.75rem;
      top: 30%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      padding: 0;
  }

  .slick-prev {
      left: -40px;
      [dir="rtl"] & {
          left: auto;
          right: -40px;
      }
  }

  .slick-next {
      right: -40px;
      [dir="rtl"] & {
          left: -40px;
          right: auto;
      }
  }
}

#post-13 {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.floorplan-col {
  @include breakpoint(large) {
    @include grid-column(20%);
    @include grid-column-collapse;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; 
  height: rem-calc(300);
  .floorplan-content {
    @include vertical-align;
    text-align: center;
    h5 {
      color: $white !important;
    }
    .button {
      border: 1px solid $seafoam;
    }
  }
  .floorplan-bg {
    color: $white;
    text-shadow: 2px 0px 1px $dark-gray;
    background-color: rgba(131,201,188,0.4);
    width: 100%;
    height: 100%;
  }
}

.floorplan-col:not(:last-child) {
  border-right: 1px solid $white;
}