#footer-container {
  #footer {
    text-align: center;
    padding: 0.8rem;
    @include breakpoint(large) {
      text-align: left;
      padding: 1rem 0;
    }
    background-color: $white;
    color: $light-gray;
    .ft-info {
      @include breakpoint(large) {
        @include grid-column(8);
      }
      .textwidget p {
        font-weight: 600;
      }
      p {
        margin-bottom: 0;
        font-size: 0.75rem;
      }
    }
    .ft-moxy {
      @include breakpoint(large) {
        @include grid-column(4);
        text-align: right;
      }
      a {
        font-family: $moxy-font;
        font-size: 0.9rem;
        @include breakpoint(large) {
          font-size: 1.2rem;
        }
      }
    }
  }
}