// Navigation breakpoints
.main-nav {
  @include show-for(large);
}

.mobile-nav, .title-bar {
  @include hide-for(large);
}

// Mobile menu
.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar {
  background: $white;
  @include breakpoint(small) {
    padding: 0;
  }
  .title-bar-title {
    @include breakpoint(small only) {
      text-align: center;
      border-bottom: 1px solid $seafoam;
      img {
        width: 60%;
        padding-bottom: 1rem;
      }
    }
    a {
      font-size: 1rem;
      color: #B9B9B9;
    }
  }
  button {
    height: 21px;
    background: $seafoam;
  }
}


// Tablet and desktop menu
header {
  background: $white;
  box-shadow: 0px 2px 0px #d1d3d3;
}

.top-bar {
  @include grid-row();
  .top-bar-left {
    @include show-for(medium);
    @include grid-column(6);
    img {
      width: 60%;
    }
  }
  .top-bar-right {
    text-align: center;
    @include breakpoint(large) {
      @include grid-column(6);
      text-align: right;
    }
    ul {
      margin: 0.5rem 0 0 0;
      @include breakpoint(large) {
        margin: 5rem 0 0 0;
      }
      li {
        display: inline-block;
        padding: 0rem 0.25rem;
        a {
          font-size: 1.25rem;
          @include breakpoint(large) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.menu li:not(:first-child) {
  border-right: 1px solid $white;
}

nav {
  width: 100%;
  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      float: right;
      text-align: center;
      width: 20%; /* fallback for non-calc() browsers */
      width: calc(100% / 5);
      box-sizing: border-box;
      padding: 1rem;
      a {
        display: block;
        color: $white;
        font-size: 1.1rem;
      }
    }
  }
}

.main-menu {
  @include breakpoint(large) {
    .menu-item-25 {
      background: url(../images/nav-bg-1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        @include transition-all;
        background: $seafoam;
      }
    }
    .menu-item-24 {
      background: url(../images/nav-bg-2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        @include transition-all;
        background: $seafoam;
      }
    }
    .menu-item-23 {
      background: url(../images/nav-bg-3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        @include transition-all;
        background: $seafoam;
      }
    }
    .menu-item-21 {
      background: url(../images/nav-bg-4.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        @include transition-all;
        background: $seafoam;
      }
    }
    .menu-item-22 {
      background: url(../images/nav-bg-5.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        @include transition-all;
        background: $seafoam;
      }
    }
  }
}

/* =================
    MOBILE TOP BAR
   ================= */

  .mobile-nav-icon {
    position: absolute;
    top: 3rem;
    left: 0.8rem;
    a {
        i {
            color: $seafoam;
            font-size: 1.9rem;
            padding: 0.5rem;
        }
    }
}


.mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999;
  overflow: auto;
  background: rgba($teal, 0.9);
  i.close {
      position: absolute;
      top: 3.8rem;
      left: 1.2rem;
      color: white;
      font-size: 1.9rem;
      &:hover {
          cursor: pointer;
      }
  }

  .mobile-nav-links {
      ul {
          float: none !important;
          list-style: none;
          margin: 4rem 0 0 0;
      }
      li {
          display: block;
          text-align: center;
          &.active {
              a {
                  color: white;
              }
          }
      }
      a {
          color: $white;
          text-transform: uppercase;
          font-size: 1.75rem;
          line-height: 2.75rem;
          font-family: $copse;
      }
  }
}

.menu .active > a {
    background: transparent;
}

@include breakpoint(medium only) {
    .mobile-nav-icon {
        top: 3.5rem;
    }
    .mobile-nav {
        i.close {
            top: 3.7rem;
        }
        .mobile-nav-logo {
            width: 354px;
        }
    }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear:both;
}

// Text meant only for screen readers. Addresses part of theme-check issue #840.
// https://github.com/Automattic/_s/blob/master/style.css
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; // Above WP toolbar.
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
